<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pilot mode</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'exp/selection_style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/exp/cookie.js"></script>
    <script type="text/javascript" src="/static/exp/selection.js"></script>
    <script type="text/javascript" src="/static/exp/gil.js"></script>

</head>
<body>
    <div style="text-align: center"><font size="4">{{ top_description }}</font></div>

    <div id="line" style="width: 100%; height: 100px; border-bottom: 1px solid black; text-align: center"></div>

    <br><br>

    <div style="text-align: center;">
        <font size="4"><strong>{{ rule }}</strong></font><br><br>
        <font size="4">{{ bottom_description }}</font>
    </div>

    <button id="card1" class="card" style="margin-left: 15%; margin-top: 30px; background-color: lightgray;">{{ card_0 }}</button>
    <button id="card2" class="card" style="background-color: lightgray;">{{ card_1 }}</button>
    <button id="card3" class="card" style="background-color: lightgray;">{{ card_2 }}</button>
    <button id="card4" class="card" style="background-color: lightgray;">{{ card_3 }}</button>

    <br><br>
    <div style="text-align: center;">
        <font size="4">{{ card_choice_description }}</font>
    </div>

    <button id='dalej_button' style="position: absolute; right: 20px; bottom: 20px;
                  width: 105px; font-size: 15px; background-color: aqua">Dalej</button>

    <script>
        taskNumber = {{ task_number }};
        tasksCount = {{ tasks_count }};
        cardsOrder = {{ cards_order }};
        sessionType = 'Pilot Mode';

        $('#dalej_button').click(function (e) {
            var data = prepareSelectionResults();
            savePilotModeResults(data);
        });

        $(document).ready(function () {
            sessionStartTime = new Date().getTime();
            setClickSettings();
        });

    </script>
</body>
</html>