<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome pilot mode</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'exp/selection_style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="jumbotron text-center" style="background-color: white">
        <h1>Zadanie {{ task_number }}</h1>
    </div>

    <form action="/introduction_pilot_mode/">
        <input type="submit"
               style="position: absolute; right: 20px; bottom: 20px;
                      width: 105px; font-size: 15px; background-color: aqua"
               value="Dalej"/>
    </form>
</body>
</html>