<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    {% load staticfiles %}
    {% load mathfilters %}
    <link rel="stylesheet" type="text/css" href="{% static 'exp/game_style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Seibel 1023 alternatives experiment</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/exp/cookie.js"></script>
    <script type="text/javascript" src="/static/exp/game.js"></script>
</head>
<body>

    <div class="container">
        <!-- Instructions Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="modalCloseBtn()"></button>
                    <h4 id="modal-header-title" class="modal-title"></h4>
                </div>
            <div class="modal-body">
                <h5>{{ instr }}</h5>
                <!--
                <h5>Gdy zapali się żarówka, naciśnij odpowiadający jej klawisz na klawiaturze.</h5>
                {% if feedback_type == 'Feedback' %}
                    <h5>Gdy naciśniesz nieprawidłowy przycisk, usłyszysz sygnał dźwiękowy.</h5>
                {% endif %}

                {% if feedback_type == 'Non_feedback' %}
                    <h5>Gdy naciśniesz nieprawidłowy przycisk, <strong>nie</strong> zostaniesz o tym powiadomiony.</h5>
                {% endif %}

                {% if timer_type == 'Timeless' %}
                    <h5>Po naciśnięciu prawidłowego przycisku, żarówka zgaśnie.</h5>
                    <h5>Masz nieograniczoną ilość czasu na wykonanie konfiguracji.</h5>
                {% endif %}


                {% if timer_type == 'Time_limited' %}
                    <h5>Masz <strong>{{ time_gap|intdiv:1000 }}s {{ time_gap|mod:1000 }}ms </strong>na wykonanie konfiguracji.</h5>
                {% endif %}

                <h5>Wciśnij <strong>spację</strong>, aby przerwać eksperyment.</h5>
                <br>
                <h5>Po naciśnięciu przycisku "Close" masz 5 sekund zanim zaczniesz eksperyment.</h5>
                -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="modalCloseBtn()">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
        <!-- End Modal -->
        <div class="modal fade" id="myEndModal" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="endModalCloseBtn()"></button>
                    <h4 id="session-endmodal-header-title" class="modal-title"></h4>
                </div>
            <div class="modal-body">
                <h5>Gratulacje!</h5>
            </div>
            <div class="modal-footer">
                <a href="/accounts/loggedin/" class="btn btn-default">Zakończ eksperyment.</a>
                {% if game_type == 'Normal' %}
                    <a href="/exp/play/" class="btn btn-default">Rozpocznij kolejną sesję.</a>
                {% endif %}

                {% if game_type == 'Training' %}
                    <a href="/exp/training/" class="btn btn-default">Rozpocznij kolejną sesję treningową.</a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
        <!-- Session limit Modal -->
        <div class="modal fade" id="sessionEndModal" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="endModalCloseBtn()"></button>
                    <h4 id="session_limit_endmodal-header-title" class="modal-title"></h4>
                </div>
            <div class="modal-body">
                <h5>Gratulacje! Wykonałeś już wszystkie sesje eksperymentalne.</h5>
            </div>
            <div class="modal-footer">
                <a href="/accounts/loggedin/" class="btn btn-default">Przejdź do menu</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
        <!-- Trening Modal -->
        <div class="modal fade" id="trainingModal" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="goToTraining()"></button>
                    <h4 id="training-modal-header-title" class="modal-title">Witaj w sesji normalnej!</h4>
                </div>
                <div class="modal-body">
                    <h5>Musisz odbyć trening, aby kontynuować.</h5>
                </div>
            <div class="modal-footer">
                <a href="/exp/training/" class="btn btn-default">Przejdź do treningu</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="jumbotron text-center">
        <h1>1023 alternatives!</h1>
    </div>

    <div class="row">
        <div class="col-sm-1 bulbs"></div>
        <div class="col-sm-1 bulbs">
            <img id="bulb1" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn1" type="button" class="btn btn-success">1</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb2" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn2" type="button" class="btn btn-success">2</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb3" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn3" type="button" class="btn btn-success">3</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb4" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn4" type="button" class="btn btn-success">4</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb5" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn5" type="button" class="btn btn-success">F</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb6" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn6" type="button" class="btn btn-success">H</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb7" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn7" type="button" class="btn btn-success">7</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb8" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn8" type="button" class="btn btn-success">8</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb9" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn9" type="button" class="btn btn-success">9</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb0" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn0" type="button" class="btn btn-success">0</button>
        </div>
        <div class="col-sm-1">
            <audio id="wa_beep" src="/static/exp/beep.mp3" preload="auto"></audio>
        </div>
    </div>

    <!--
    <h3>Time</h3>
    <div id="clockdiv">
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
        </div>
        <div>
            <span class="miliseconds"></span>
            <div class="smalltext">Milisecs</div>
        </div>
    </div>


    <br><br>
    <div class="progress center">
        <div id="progress_bar" class="progress-bar progress-bar-striped active" role="progressbar"
                style="width:0%">
            <span><strong>Progress</strong></span>
        </div>
    </div>
    -->

    {% if game_type == 'Training' %}
        <form action="/accounts/loggedin">
            <button class="btn btn-lg btn-primary btn-block btn-interface" type="submit">Zakończ trening</button>
        </form>
    {% endif %}

    <script>
        $(document).ready (function() {

            {% if feedback_type == 'Feedback' %}
                feedbackType = 'Feedback';
            {% endif %}

            {% if feedback_type == 'Non_feedback' %}
                feedbackType = 'Non_feedback';
            {% endif %}

            {% if timer_type == 'Timeless' %}
                timeType = 'Timeless';
            {% endif %}

            {% if timer_type == 'Time_limited' %}
                timeType = 'Time_limited';
            {% endif %}

            timeGap = {{ time_gap }};

            {% if game_type == 'Normal' %}
                gameType = 'Normal';
                sessionLimit = {{ session_limit }};
                confsDoneInPrevSession = {{ confs_done | safe }};
                sessionNumber = {{ session_number }};

                {% if training_done == 'Yes' %}
                    if (sessionLimit >= sessionNumber) {
                        if (confsDoneInPrevSession.length >= confsNumber) {
                            confsDoneInPrevSession = [];
                            newSession = true;
                            showInstructionsModal();
                        } else if (confsDoneInPrevSession.length == 0 && sessionNumber == 0) {
                            newSession = true;
                            showInstructionsModal();
                        } else { // case for the number zero session
                            newSession = false;
                            showContinuationModel();
                        }
                    } else {
                        showSessionEndingModal();
                    }
                {% endif %}

                {% if training_done == 'No' %}
                    $('#trainingModal').modal('show');
                {% endif %}
            {% endif %}

            {% if game_type == 'Training' %}
                gameType = 'Training';
                sendTrainingUpdate();
                showInstructionsModal();
            {% endif %}
        });

    </script>
</body>
</html>