<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'exp/game_style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Seibel 1023 alternatives experiment</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/exp/game.js"></script>
</head>
<body>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="modalCloseBtn()">&times;</button>
                    <h4 id="modal-header-title" class="modal-title"></h4>
                </div>
            <div class="modal-body">
                <input type="number" id="user_time" placeholder="time in miliseconds" value=0>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="modalCloseBtn()">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="jumbotron text-center">
        <h1>1023 alternatives!</h1>
    </div>

    <div class="row">
        <div class="col-sm-1 bulbs"></div>
        <div class="col-sm-1 bulbs">
            <img id="bulb1" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn1" type="button" class="btn btn-success">1</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb2" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn2" type="button" class="btn btn-success">2</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb3" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn3" type="button" class="btn btn-success">3</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb4" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn4" type="button" class="btn btn-success">4</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb5" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn5" type="button" class="btn btn-success">5</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb6" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn6" type="button" class="btn btn-success">6</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb7" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn7" type="button" class="btn btn-success">7</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb8" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn8" type="button" class="btn btn-success">8</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb9" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn9" type="button" class="btn btn-success">9</button>
        </div>
        <div class="col-sm-1 bulbs">
            <img id="bulb0" class="img-responsive img-circle" src="/static/exp/bulb-off.png" width="100%">
            <button id="bulb_btn0" type="button" class="btn btn-success">0</button>
        </div>
        <div class="col-sm-1">
            <audio id="wa_beep" src="/static/exp/beep.mp3" preload="auto"></audio>
        </div>
    </div>

    <h3>Time</h3>
    <div id="clockdiv">
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
        </div>
        <div>
            <span class="miliseconds"></span>
            <div class="smalltext">Milisecs</div>
        </div>
    </div>

    <br><br>
    <div class="progress center">
        <div id="progress_bar" class="progress-bar progress-bar-striped active" role="progressbar"
                style="width:0%">
            <span><strong>Progress</strong></span>
        </div>
    </div>

    <script>
        $(document).ready (function() {

            {% if feedback_type == 'feedback' %}
                feedback_type = 'feedback';
            {% endif %}

            {% if feedback_type == 'non_feedback' %}
                feedback_type = 'non_feedback';
            {% endif %}

            {% if time_type == 'timeless' %}
                time_type = 'timeless';
            {% endif %}

            {% if time_type == 'time_limited' %}
                time_type = 'time_limited';
            {% endif %}

            showModal();
        });

    </script>
</body>
</html>